In [1]:
import numpy as np

In [2]:
import pandas as pd

* Read the three files into python as dataframes

In [3]:
file1 = pd.read_csv('file1.csv')

In [4]:
file2 = pd.read_csv('file2.csv')

In [5]:
file3 = pd.read_csv('file3.csv')

* Show the DataFrame's shape.

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

* Standardize header names.

* Rearrange the columns in the dataframe as needed

In [9]:
file2=file2.reindex(columns= ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount'])

In [10]:
file3=file3.reindex(columns= ['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount'])

In [11]:
file3=file3.rename(columns={'State':'ST', 'Gender':'GENDER'})

In [12]:
column_names=file1.columns
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

* Concatenate the three dataframes

In [13]:
data=pd.DataFrame(columns=column_names)

In [14]:
data=pd.concat([data, file1],axis=0)

In [15]:
data=pd.concat([data, file2],axis=0)

In [16]:
data=pd.concat([data, file3],axis=0)

In [17]:
data.shape

(12074, 11)

* Standardize header names.

In [18]:
cols=[]
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

In [19]:
data.columns=cols

In [20]:
data.columns = data.columns.str.replace(' ','_')

In [21]:
data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [22]:
data.reset_index(drop=True, inplace=True)

In [23]:
data=data.rename(columns={'st':'state'})

* Which columns are numerical?
* Which columns are categorical?

In [24]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

* Perform the data cleaning operations mentioned so far in class
    * Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type

In [25]:
data['customer_lifetime_value'] = data['customer_lifetime_value'].astype('str', errors = 'ignore')

In [26]:
data['customer_lifetime_value'] = list(map(lambda x : x.strip('%'), data['customer_lifetime_value']))

In [27]:
data['customer_lifetime_value'] = pd.to_numeric(data['customer_lifetime_value'], errors = 'coerce')

In [28]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

    * Delete the column education and the number of open complaints from the dataframe.

In [29]:
data=data.drop(['education', 'number_of_open_complaints'], axis=1)

In [30]:
data.head(5)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

    * Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [31]:
data['customer_life_time_value'] = data['customer_lifetime_value'].apply(lambda x: x*100)

In [32]:
data.head()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,customer_life_time_value
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,69795359.0
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,128874317.0
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344,76458618.0
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,53630765.0

In [33]:
data.shape

(12074, 10)

    * Check for duplicate rows in the data and remove if any.

In [34]:
data=data.drop_duplicates()

In [35]:
data.shape

(9135, 10)

In [36]:
data.reset_index(drop=True, inplace=True)

    * Filter out the data for customers who have an income of 0 or less.

In [37]:
no_income = data[(data['income'] == 0)]

In [38]:
no_income

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,customer_life_time_value
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.590000,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,6.979536e+07
3,WW63253,California,M,764586.180000,0.0,106.0,Corporate Auto,SUV,529.881344,7.645862e+07
7,CF85061,Arizona,M,721610.030000,0.0,101.0,Corporate Auto,Four-Door Car,363.029680,7.216100e+07
10,SX51350,California,M,473899.200000,0.0,67.0,Personal Auto,Four-Door Car,482.400000,4.738992e+07
...,...,...,...,...,...,...,...,...,...,...
9124,WZ45103,California,F,5678.050167,0.0,76.0,Personal Auto,Four-Door Car,364.800000,5.678050e+05
9126,RX91025,California,M,19872.262000,0.0,185.0,Personal Auto,SUV,1950.725547,1.987226e+06
9127,AC13887,California,M,4628.995325,0.0,67.0,Corporate Auto,Two-Door Car,482.400000,4.628995e+05
9132,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,8.163890e+05
9134,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,2.611837e+05

In [42]:
data[data.income>0]

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,customer_life_time_value
2,AI49188,Nevada,F,1.288743e+06,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,1.288743e+08
4,GA49547,Washington,M,5.363077e+05,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,5.363076e+07
5,OC83172,Oregon,F,8.256298e+05,62902.0,69.0,Personal Auto,Two-Door Car,159.383042,8.256298e+07
6,XZ87318,Oregon,F,5.380899e+05,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000,5.380899e+07
8,DY87989,Oregon,M,2.412750e+06,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000,2.412750e+08
...,...,...,...,...,...,...,...,...,...,...
9128,TF56202,California,M,5.032165e+03,66367.0,64.0,Personal Auto,Two-Door Car,307.200000,5.032165e+05
9129,YM19146,California,F,4.100399e+03,47761.0,104.0,Personal Auto,Four-Door Car,541.282007,4.100399e+05
9130,LA72316,California,M,2.340599e+04,71941.0,73.0,Personal Auto,Four-Door Car,198.234764,2.340599e+06
9131,PK87824,California,F,3.096511e+03,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000,3.096511e+05
9133,UP19263,California,M,7.524442e+03,21941.0,96.0,Personal Auto,Four-Door Car,691.200000,7.524442e+05

In [40]:
nulls_df=pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df=nulls_df.rename(columns={'index':'header', 0:'percentagenulls'})

In [41]:
nulls_df

                          percentagenulls
customer                             0.01
state                                0.01
gender                               1.35
customer_lifetime_value              0.09
income                               0.01
monthly_premium_auto                 0.01
policy_type                          0.01
vehicle_class                        0.01
total_claim_amount                   0.01
customer_life_time_value             0.09