In [1]:
import numpy as np

In [2]:
import pandas as pd

### Data to be used

In [3]:
file1 = pd.read_csv('file1.csv')

In [4]:
file2 = pd.read_csv('file2.csv')

In [5]:
file3 = pd.read_csv('file3.csv')

### Merging the data frames

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

Rearrenging columns

In [9]:
file2=file2.reindex(columns= ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount'])

In [10]:
file3=file3.reindex(columns= ['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount'])

In [11]:
file3=file3.rename(columns={'State':'ST', 'Gender':'GENDER'})

In [12]:
column_names=file1.columns
column_names

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [13]:
data=pd.DataFrame(columns=column_names)

In [14]:
data=pd.concat([data, file1],axis=0)

In [15]:
data=pd.concat([data, file2],axis=0)

In [16]:
data=pd.concat([data, file3],axis=0)

In [17]:
data.shape

(12074, 11)

In [18]:
cols=[]
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

In [19]:
data.columns=cols

In [20]:
data.columns = data.columns.str.replace(' ','_')

In [21]:
data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [22]:
data.reset_index(drop=True, inplace=True)

In [23]:
data=data.rename(columns={'st':'state'})

In [24]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [25]:
data['customer_lifetime_value'] = data['customer_lifetime_value'].astype('str', errors = 'ignore')

In [26]:
data['customer_lifetime_value'] = list(map(lambda x : x.strip('%'), data['customer_lifetime_value']))

In [27]:
data['customer_lifetime_value'] = pd.to_numeric(data['customer_lifetime_value'], errors = 'coerce')

In [28]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [29]:
data=data.drop(['education', 'number_of_open_complaints'], axis=1)

In [30]:
data.head(5)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [31]:
data['customer_life_time_value'] = data['customer_lifetime_value'].apply(lambda x: x*100)

In [32]:
data.head()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,customer_life_time_value
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.59,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,69795359.0
2,AI49188,Nevada,F,1288743.17,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,128874317.0
3,WW63253,California,M,764586.18,0.0,106.0,Corporate Auto,SUV,529.881344,76458618.0
4,GA49547,Washington,M,536307.65,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,53630765.0

In [33]:
data.shape

(12074, 10)

In [34]:
data=data.drop_duplicates()

In [35]:
data.shape

(9135, 10)

In [36]:
data.reset_index(drop=True, inplace=True)

In [40]:
no_income = data[(data['income'] == 0)]

In [41]:
no_income

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,customer_life_time_value
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.590000,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,6.979536e+07
3,WW63253,California,M,764586.180000,0.0,106.0,Corporate Auto,SUV,529.881344,7.645862e+07
7,CF85061,Arizona,M,721610.030000,0.0,101.0,Corporate Auto,Four-Door Car,363.029680,7.216100e+07
10,SX51350,California,M,473899.200000,0.0,67.0,Personal Auto,Four-Door Car,482.400000,4.738992e+07
...,...,...,...,...,...,...,...,...,...,...
9124,WZ45103,California,F,5678.050167,0.0,76.0,Personal Auto,Four-Door Car,364.800000,5.678050e+05
9126,RX91025,California,M,19872.262000,0.0,185.0,Personal Auto,SUV,1950.725547,1.987226e+06
9127,AC13887,California,M,4628.995325,0.0,67.0,Corporate Auto,Two-Door Car,482.400000,4.628995e+05
9132,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,8.163890e+05
9134,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,2.611837e+05